.header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 1em;
    position: relative;
}
.container__botao {
    display:none;
}
.container__botao:checked ~ .lista__menu {
    display:block;
}
.lista__menu {
    display:none;
    position:absolute;
    top:100%;
    width:40vw;
}
.lista__menu__item {
    padding:1em 0;
}
.lista__menu__link {
    color:var(--green);
    font-weight:700;
}
.logo__desktop {
    display:none;
}
.logo {
    display:block;
}
@media screen and (min-width:1000px) {
    .header {
        justify-content: center;
    }
    .menu__hamburguer, .logo {
        display:none;
    }
    .logo__desktop {
        display:block;
    }
}